* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  background-color: #f8f8ff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  background-image: url(../images/Bitmap.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 580px 560px;
}

.site-header {
  padding: 40px 20px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.header__logo-navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 65px;
}

.header__logo-link {
  display: inline-block;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.navbar__link {
  padding-bottom: 166px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #36536B;
  margin-bottom: 10px;
}

.header__contact-link {
  width: 174px;
  padding: 16px 24px;
  align-items: center;
  border: none;
  border-radius: 99px;
  background-color: #BA4270;
  box-shadow: 10px 10px 25px -29px rgba(54, 83, 107, 0.2509803922);
  letter-spacing: -0.115384616px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: white;
  margin-bottom: 10px;
  transition: all 0.5s;
}
.header__contact-link:hover {
  box-shadow: 30px 30px 45px -20px black;
  background-color: white;
  color: #BA4270;
}

.header__button-wrapper {
  display: none;
  background-color: transparent;
  border: none;
}

@media (max-width: 878px) {
  .wrapper {
    background-image: url(../images/Bitmap2.png);
    background-position: top center;
    background-size: 100% 30%;
  }
}
@media (max-width: 746px) {
  .wrapper {
    background-size: 100% 20%;
  }
  .navbar__list {
    display: none;
  }
  .header__contact-link {
    display: none;
  }
  .header__button-wrapper {
    display: flex;
  }
}
.hero {
  display: flex;
  justify-content: space-around;
  padding-bottom: 152px;
}

.hero__title {
  width: 526px;
  padding-top: 166px;
  padding-left: 20px;
  opacity: 0.9;
  font-family: "DM Serif Display", serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
  color: #36536B;
  margin-bottom: 20px;
}

.hero__form {
  width: 445px;
}

.form__label {
  width: 100%;
  position: relative;
}

.form__input {
  width: 100%;
  padding: 15px 5px 15px 27px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.2509803922);
  border-radius: 24px;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: #36536B;
  margin-bottom: 16px;
  color: transparent;
}
.form__input:focus {
  box-shadow: 0 0 5px 1px rgba(54, 83, 107, 0.2509803922);
}

.form__btn {
  position: absolute;
  right: 0;
  width: 174px;
  padding: 15px 0;
  border-radius: 24px;
  border: 2px solid transparent;
  background-color: #BA4270;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: white;
  margin-bottom: 0;
  transition: all 0.5s;
}
.form__btn:hover {
  background-color: white;
  color: #BA4270;
}

.hero__bottom-text {
  padding-left: 27px;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  color: #6C8294;
  margin-bottom: 0px;
}

.hero__bottom-text--link {
  padding-left: 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: #6C8294;
  margin-bottom: 0px;
}

.hero__telephone__wrapper {
  width: 264px;
  height: 499.9px;
}

.telephone {
  border-radius: 34px;
  transition: all 0.5s;
}
.telephone:hover {
  box-shadow: 0px 0px 35px -5px black;
}

@media (max-width: 878px) {
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 48px;
  }
  .telephone {
    margin: 0 auto;
  }
  .hero__title {
    width: 544px;
    padding-top: 48px;
    text-align: center;
    letter-spacing: -0.369230777px;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    color: #36536B;
    margin-bottom: 22px;
  }
  .form__input {
    align-items: center;
  }
  .hero__bottom-text {
    padding-left: 0px;
    text-align: center;
  }
}
.work {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #1B262F;
  background-image: url(../images/work__bitmap.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 420px 410px;
}

.wotk__title-wrapper {
  padding: 100px 0 100px 0px;
}

.work__title {
  letter-spacing: -0.369230777px;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  color: #FBFCFE;
  margin-bottom: 24px;
  font-family: "DM Serif Display", serif;
}

.work__text {
  width: 432px;
  font-family: "Public Sans", serif;
  opacity: 70%;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #FBFCFE;
  margin-bottom: 32px;
}

.work__btn {
  width: 129px;
  padding: 15px 0;
  border-radius: 24px;
  border: 2px solid #FBFCFE;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #FBFCFE;
  margin-bottom: 0;
  transition: all 0.5s;
}
.work__btn:hover {
  background-color: #FBFCFE;
  color: #1B262F;
}

.work__images-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 46px;
  -moz-column-gap: 62px;
       column-gap: 62px;
  padding: 185px 0px 184px 0px;
}

@media (max-width: 1038px) {
  .work {
    justify-content: space-between;
    flex-direction: column-reverse;
    background-image: url(../images/work__bitmap-rsponsiv.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 280px;
  }
  .wotk__title-wrapper {
    text-align: center;
    padding: 64px 40px 40px 88px;
  }
  .work__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    color: #FBFCFE;
    margin-bottom: 24px;
    font-family: "DM Serif Display", serif;
  }
  .work__text {
    max-width: 432px;
    text-align: center;
    margin: auto;
    font-family: "Public Sans", serif;
    opacity: 70%;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #FBFCFE;
    margin-bottom: 32px;
  }
  .work__btn {
    width: 129px;
    padding: 15px 0;
    border-radius: 24px;
    border: 2px solid #FBFCFE;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    color: #FBFCFE;
    margin-bottom: 0;
    transition: all 0.5s;
  }
  .work__btn:hover {
    background-color: #FBFCFE;
    color: #1B262F;
  }
  .work__images-wrapper {
    row-gap: 46px;
    -moz-column-gap: 62px;
         column-gap: 62px;
    padding: 88px 116px 64px;
  }
}
@media (max-width: 751px) {
  .work__images-wrapper {
    row-gap: 46px;
    -moz-column-gap: 62px;
         column-gap: 62px;
    align-items: center;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    padding: 88px 60px 64px;
  }
}
.Easy {
  display: flex;
  justify-content: space-between;
  padding-block: 150px;
}

.Easy__title {
  padding-top: 110px;
  font-family: "DM Serif Display", serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #36536B;
  margin-bottom: 24px;
}

.Easy__text {
  width: 389px;
  font-family: "Public Sans", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #6C8294;
  margin-bottom: 0px;
}

@media (max-width: 1026px) {
  .Easy {
    padding-top: 70px;
    flex-direction: column;
  }
  .Easy__title-wrapper {
    text-align: center;
  }
  .Easy__title {
    padding-top: 0px;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    color: #36536B;
    margin-bottom: 24px;
  }
  .Easy__text {
    width: 100%;
    margin: auto;
  }
  .Easy__img-wrapper {
    margin-left: 250px;
    margin: auto;
  }
}/*# sourceMappingURL=main.css.map */